* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-row-gap: 0;
    grid-template-rows: auto auto 1fr auto;
    height: 100vh;
}

.gameplay {
    display:grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    text-align: center;
}

footer {
    align-self: center;
}

.gameplay ul {
    grid-column: 2/ span 1;
    margin: 0;
    padding: 0;
    /* margin-top: 1em; */
}

.gameplay li {
    list-style: none;
    margin: 5px;
    padding: 0;
}

.gameplay li button {
    color: white;
    background-color: blue;
    border: 0;
    padding: 10px;
    border-radius: 5px;
}

header {
    text-align: center;
    align-self: center;
    padding: 10px;
    font-size: x-large;
    background-color: grey;
}

nav ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(128, 128, 128);
    
}

nav li {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    border-radius: 2rem;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1.5rem;
}

nav a:hover {
    color: black;
    transform: scale(250%);
    transition: 1s;
}

header h1 span:nth-child(1) {
    color: darkgreen;
}

header h1 span:nth-child(2) {
    color: rgb(161, 160, 160);
}

header h1 span:nth-child(3) {
    color: red;
}

header h1 span:nth-child(4) {
    color: rgba(255, 0, 0, 0.39);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
    height: 100%;
}

.container {
    display: grid;
    text-align: center;
    place-content: center;
    grid-template-columns: auto 100px 100px 100px auto;
    grid-template-rows: auto 100px 100px 100px auto;
    box-shadow: none;
}

table {
    border-collapse: collapse;
    align-self: center;
    margin: auto;
}

td {
    width: 100px;
    height: 100px;
}

.container button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.cell {
    font-size: 5rem;
    display: grid;
    border:0;
}

.cell0 {
    border-bottom: solid black 2px;
    border-right: solid black 2px;
    grid-column: 2/ span 1;
    grid-row: 2/ span 1;
}
.cell1 {
    border-bottom: solid black 2px;
    border-left: solid black 2px;
    border-right: solid black 2px;
    grid-column: 3/ span 1;
    grid-row: 2/ span 1;
}
.cell2 {
    border-bottom: solid black 2px;
    border-left: solid black 2px;
    grid-column: 4/ span 1;
    grid-row: 2/ span 1;
}
.cell3 {
    border-bottom: solid black 2px;
    border-top: solid black 2px;
    border-right: solid black 2px;
    grid-column: 2/ span 1;
    grid-row: 3/ span 1;
}
.cell4 {
    border-bottom: solid black 2px;
    border-top: solid black 2px;
    border-left: solid black 2px;
    border-right: solid black 2px;
    grid-column: 3/ span 1;
    grid-row: 3/ span 1;
}
.cell5 {
    border-bottom: solid black 2px;
    border-top: solid black 2px;
    border-left: solid black 2px;
    grid-column: 4/ span 1;
    grid-row: 3/ span 1;
}
.cell6 {
    border-top: solid black 2px;
    border-right: solid black 2px;
    grid-column: 2/ span 1;
    grid-row: 4/ span 1;
}
.cell7 {
    border-top: solid black 2px;
    border-left: solid black 2px;
    border-right: solid black 2px;
    grid-column: 3/ span 1;
    grid-row: 4/ span 1;
}
.cell8 {
    border-top: solid black 2px;
    border-left: solid black 2px;
    grid-column: 4/ span 1;
    grid-row: 4/ span 1;
}

.temporary {
    color:rgba(0, 0, 0, 0.75);
}

#result {
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.winner {
    color: darkgreen;
    background-color: #a2f8a2;
}
.loser {
    color: rgb(80, 5, 5);
    background-color: rgb(255, 175, 175);
}
.losertext {
    color: red;
}
.draw {
    color: rgb(46, 46, 46);
    background-color: rgb(161, 160, 160);
}
button:disabled{
    color: black;
}

fieldset {
    width: max-content;
    margin: auto;
    padding: 5px;
}

#helper{
    z-index: -1;
    width: 100%;
    height: 100%;
    grid-row: 2/ span 3;
    grid-column: 2/ span 3;
}
#caution {
    z-index: -1;
    margin: auto;
    background-color: transparent;
    grid-column: 2/ span 3;
    grid-row: 3/ span 1;
    font-size: 2rem;
}
.zoominout {
    animation: zoomin 0.3s linear 3;
}
.redborder {
    animation: redborder 1s reverse linear;
}
.greenborder {
    animation: greenborder 1s reverse linear;
}
.redborderpermanent {
    box-shadow: inset -100px -100px 100px rgb(255, 175, 175), inset 100px 100px 100px rgb(255, 175, 175), 100px 100px 100px rgb(255, 175, 175);
}
.greenborderpermanent {
    box-shadow: inset -100px -100px 100px #a2f8a2, inset 100px 100px 100px #a2f8a2, 100px 100px 100px #a2f8a2;
}
.greyborderpermanent {
    box-shadow: inset -100px -100px 100px rgb(161, 160, 160), inset 100px 100px 100px rgb(161, 160, 160), 100px 100px 100px rgb(161, 160, 160);
}
@keyframes zoomin {
    0% {
        /* grid-template-columns: auto 100px 100px 100px auto;
        grid-template-rows: auto 100px 100px 100px auto; */
        transform: rotate(0deg);
    }
    25% {
        /* grid-template-columns: auto 110px 110px 110px auto;
        grid-template-rows: auto 110px 110px 110px auto; */
        transform: rotate(5deg);
    }
    50% {
        /* grid-template-columns: auto 100px 100px 100px auto;
        grid-template-rows: auto 100px 100px 100px auto; */
        transform: rotate(0deg);
    }
    100% {
        /* grid-template-columns: auto 110px 110px 110px auto;
        grid-template-rows: auto 110px 110px 110px auto; */
        transform: rotate(-5deg);
    }
}

@keyframes redborder {
    0% {
        box-shadow: none;
    }
    25% {
        box-shadow: inset -100px -100px 100px rgb(233, 140, 140), inset 100px 100px 100px rgb(233, 140, 140), 100px 100px 100px rgb(233, 140, 140);
    }
    50% {
        box-shadow: none;
    }
    100% {
        box-shadow: inset -100px -100px 100px rgb(233, 140, 140), inset 100px 100px 100px rgb(233, 140, 140), 100px 100px 100px rgb(233, 140, 140);
    }
}

@keyframes greenborder {
    0% {
        box-shadow: none;
    }
    25% {
        box-shadow: inset -100px -100px 100px #a2f8a2, inset 100px 100px 100px #a2f8a2, 100px 100px 100px #a2f8a2;
    }
    50% {
        box-shadow: none;
    }
    100% {
        box-shadow: inset -100px -100px 100px #a2f8a2, inset 100px 100px 100px #a2f8a2, 100px 100px 100px #a2f8a2;
    }
}

button:disabled.toremove {
    color: rgba(255, 0, 0, 0.39);
}